{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Services Details - Append Bootstrap Template</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  {% load static %}

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %}" rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %}" rel="apple-touch-icon">
  
  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
  
  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  
  <!-- Main CSS File -->
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
  
  <!-- =======================================================
  * Template Name: Append
  * Template URL: https://bootstrapmade.com/append-bootstrap-website-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="services-details-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid position-relative d-flex align-items-center justify-content-between">

      <a href="{% url 'index' %}" class="logo d-flex align-items-center me-auto me-xl-0">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1 class="sitename">Codecraft</h1><span>.</span>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="{% url 'index' %}#hero">Home</a></li>
          <li><a href="{% url 'index' %}#about">services</a></li>
          <li><a href="{% url 'index' %}#portfolio">Portfolio</a></li>

          <li><a href="{% url 'index' %}#contact">Contact</a></li>
    
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="{% url 'index' %}#about">Get Started</a>

    </div>
  </header>

  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Services Details</h1>
              <p class="mb-0">We provide services like Web Development, App Development, Academic Projects, Machine Learning, and UI/UX Design, tailored to meet your specific needs and help you achieve your goals. Explore our expertise to elevate your project to the next level.</p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li class="current">Services Details</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <!-- Service Details Section -->
    <section id="service-details" class="service-details section">

      <div class="container">

        <div class="row gy-5">

          <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">

            <div class="service-box">
              <h4>Serices List</h4>
              <div class="services-list">
                <a href="#web" class="active"><i class="bi bi-arrow-right-circle"></i><span>Web Development</span></a>
                <a href="#app" class="active"><i class="bi bi-arrow-right-circle"></i><span>App Development</span></a>
                <a href="#academic" class="active"><i class="bi bi-arrow-right-circle"></i><span>Academic Project</span></a>
                <a href="#machine" class="active"><i class="bi bi-arrow-right-circle"></i><span>Machine Learning</span></a>
                <a href="#uiux" class="active"><i class="bi bi-arrow-right-circle"></i><span>UI UX</span></a>
              </div>
            </div><!-- End Services List -->



            <div class="help-box d-flex flex-column justify-content-center align-items-center">
              <i class="bi bi-headset help-icon"></i>
              <a href="{% url 'index' %}#contacct"><h4>Have a Question?</h4></a>
              <p class="d-flex align-items-center mt-2 mb-0"><i class="bi bi-telephone me-2"></i> <span>+91 8848570115</span></p>
              <p class="d-flex align-items-center mt-1 mb-0"><i class="bi bi-envelope me-2"></i> <a href="codecraftventures@gmail.com">contact@example.com</a></p>
            </div>

          </div>

          <div class="col-lg-8 ps-lg-5" data-aos="fade-up" data-aos-delay="200">
            <img src="{% static 'img/services.jpg' %}" alt="" class="img-fluid services-img">
            <h3></h3>
            <p>
              We specialize in a wide range of services including Web Development, where we create responsive and dynamic websites; App Development, offering custom solutions for both Android and iOS platforms; and Academic Projects, assisting students in bringing their ideas to life with professional guidance. Our Machine Learning services harness the power of AI to deliver intelligent solutions, while our UI/UX Design focuses on creating user-friendly and visually appealing interfaces. Each service is designed to cater to your unique requirements, ensuring quality and innovation at every step.            </p>
          </div>
   
          <div class="col-lg-8 ps-lg-5" data-aos="fade-up" data-aos-delay="200">
            <h2 id="web">Web Development</h2>
            <img src="{% static 'img/services.jpg' %}" alt="" class="img-fluid services-img">

            <p>
              At Codecraft., we specialize in crafting visually stunning and highly functional websites that cater to your business needs. Our team of experienced developers and designers work collaboratively to deliver a seamless user experience, ensuring that your website not only looks great but also performs exceptionally.            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> <span>Custom Website Design: Tailored designs that reflect your brand identity and resonate with your target audience.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Responsive Design: Ensuring your website looks and functions perfectly on all devices, from desktops to mobile phones.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>E-Commerce Solutions: Building secure and scalable online stores to help you reach a broader market.
              </span></li>
            </ul>
            <p>
              Our approach to web development is centered on understanding your goals and translating them into a digital solution that drives results. Whether you need a simple brochure website or a complex e-commerce platform, we have the expertise to bring your vision to life.            </p>
            <p>
            </p>
          </div>

          <div class="col-lg-8 ps-lg-5" data-aos="fade-up" data-aos-delay="200">
            <h2 id="app">App Development</h2>

            <img src="{% static 'img/services.jpg' %}" alt="" class="img-fluid services-img">
            <p>
              At Codecraft., we bring your ideas to life by developing robust, user-friendly mobile and web applications that meet the demands of today's digital landscape. Our team of skilled developers is dedicated to delivering high-quality apps that provide an exceptional user experience across all platforms.
            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> <span>Custom Mobile App Development: We create tailor-made mobile applications for iOS and Android, designed to meet your unique business requirements.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Web Application Development: Developing dynamic and responsive web applications that are accessible from any device with a web browser.              </span></li>
              <li><i class="bi bi-check-circle"></i> <span>API Integration: Ensuring your app can seamlessly interact with third-party services and other systems, expanding its functionality.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>App Maintenance and Support: Providing continuous monitoring, updates, and enhancements to keep your app performing at its best.</span></li>
  
            </ul>
            <p>
              Our approach to web development is centered on understanding your goals and translating them into a digital solution that drives results. Whether you need a simple brochure website or a complex e-commerce platform, we have the expertise to bring your vision to life.            </p>
            
          </div>

          <div class="col-lg-8 ps-lg-5" data-aos="fade-up" data-aos-delay="200">
            <h2 id="academic">Academic Projects</h2>

            <img src="{% static 'img/services.jpg' %}" alt="" class="img-fluid services-img">
            <p>
              At Codecraft., we support students and researchers in bringing their academic projects to life by providing expert guidance and development services. Our team is committed to helping you achieve excellence in your academic endeavors with cutting-edge technology and innovative solutions.            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> <span>Project Consultation and Guidance: We offer expert advice and mentorship to help you select the right topic, define your objectives, and outline a clear project plan.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Research and Development: Assisting in the research, design, and development of projects across various fields, including computer science and data science.              </span></li>
              <li><i class="bi bi-check-circle"></i> <span>Custom Software and Application Development: Developing software applications, models, and simulations tailored to your project's needs, whether for a thesis, dissertation, or capstone project.</span></li>
            </ul>
            <p>
              We understand the importance of academic projects in shaping your future, and we are here to provide the support you need to succeed. From idea conception to project completion, our team is dedicated to helping you achieve your academic goals with distinction.            </p>
            <p>
            </p>
          </div>

          <div class="col-lg-8 ps-lg-5" data-aos="fade-up" data-aos-delay="200">
            <h2 id="machine">Machine Learning</h2>

            <img src="{% static 'img/services.jpg' %}" alt="" class="img-fluid services-img">
            <p>
              At Codecraft., we specialize in delivering advanced machine learning solutions that transform data into actionable insights. Our expertise spans various industries, helping businesses and researchers harness the power of AI to drive innovation and solve complex problems.            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> <span>Custom Machine Learning Models: Designing and developing tailored machine learning models that fit your specific business or research needs, from classification and regression to clustering and recommendation systems.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Data Preprocessing and Feature Engineering: Cleaning, transforming, and preparing your data to ensure that your machine learning models perform optimally, extracting meaningful features that enhance predictive accuracy.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Deep Learning Solutions: Leveraging neural networks and deep learning architectures for complex tasks such as image recognition, natural language processing, and time-series forecasting.</span></li>
            </ul>
            <p>
              Whether you're looking to implement a new machine learning project or enhance an existing one, our team at Append. is here to provide the expertise and support you need to achieve your goals. Let's work together to unlock the full potential of your data with innovative AI solutions.            </p>
            <p>
            </p>
          </div>

          <div class="col-lg-8 ps-lg-5" data-aos="fade-up" data-aos-delay="200">
            <h2 id="uiux">UI UX Design</h2>

            <img src="{% static 'img/services.jpg' %}" alt="" class="img-fluid services-img">
            <p>
              At Codecraft., we craft intuitive and aesthetically pleasing user interfaces that offer seamless experiences. Our focus on user-centric design ensures that your digital products are not only visually appealing but also functional and easy to use.            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i> <span>User Research and Analysis: Conducting thorough research to understand your target audience, their needs, and behaviors, ensuring that the design is tailored to meet user expectations and business goals.</span></li>
              <li><i class="bi bi-check-circle"></i> <span>Wireframing and Prototyping: Creating detailed wireframes and interactive prototypes that map out the structure and functionality of your digital product, allowing for early testing and iteration.
              </span></li>
              <li><i class="bi bi-check-circle"></i> <span>Visual Design and Branding: Developing cohesive and engaging visual designs that reflect your brand identity, using color schemes, typography, and imagery that resonate with your audience.</span></li>
            </ul>
            <p>
              Our team at Append. is dedicated to creating UI/UX designs that not only look good but also deliver exceptional user experiences. Let us help you build digital products that engage and delight your users, driving success for your business.

            </p>
            <p>
            </p>
          </div>
       

        </div>

      </div>

    </section><!-- /Service Details Section -->

  </main>

  <footer id="footer" class="footer position-relative light-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="index.html" class="logo d-flex align-items-center">
            <span class="sitename">Append</span>
          </a>
          <p>Cras fermentum odio eu feugiat lide par naso tierra. Justo eget nada terra videa magna derita valies darta donna mare fermentum iaculis eu non diam phasellus.</p>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-twitter-x"></i></a>
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>

          </ul>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#web">Web Development</a></li>
            <li><a href="#app">App Development</a></li>
            <li><a href="#academic">Academic Projects</a></li>
            <li><a href="#machine">Machine Learning</a></li>
            <li><a href="#uiux">UI UX</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contact Us</h4>
          <p>A108 Adam Street</p>
          <p>New York, NY 535022</p>
          <p>United States</p>
          <p class="mt-4"><strong>Phone:</strong> <span>+1 5589 55488 55</span></p>
          <p><strong>Email:</strong> <span>info@example.com</span></p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="sitename">Append</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you've purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  {% load static %}

  <!-- Vendor JS Files -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'vendor/aos/aos.js' %}"></script>
  <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %}"></script>
  
  <!-- Main JS File -->
  <script src="{% static 'js/main.js' %}"></script>
  

</body>

</html>